@import url(//fonts.googleapis.com/css?family=Open+Sans);
body {
    background-image: url('./spaceshipa.svg');
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-x: 50%;
    background-position-y: 20%;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}
 